body { margin: 0; font-family: Arial; background: #f4f4f4; }
header { background: #0077ff; color: white; padding: 15px; text-align: center; }
nav { background: #023e8a; display: flex; justify-content: space-around; }
nav a { color: white; padding: 15px; text-decoration: none; }
nav a:hover { background: #0059b3; }

section { display: none; padding: 20px; }
.active { display: block; }

#productContainer { display: flex; gap: 20px; flex-wrap: wrap; }
.product-card {
  background: white; width: 200px; padding: 10px; border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
button {
  width: 100%; margin-top: 10px; padding: 8px; border: none;
  background: #0077ff; color: white; cursor: pointer;
}
button:hover { background: #0058c0; }

.form-container {
  background: white; padding: 25px; width: 350px; margin: auto;
  border-radius: 10px; box-shadow: 0 0 10px gray;
}
input, textarea {
  width: 100%; padding: 8px; margin-top: 10px;
}
